.Button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
.get_quote {
    color: #944317;
    border: 1px solid #944317;
}
.get_heroes {
    color: blue;
    border: 1px solid blue;
    padding: 5px;
}
.Close {
    color: red;
    border: 1px solid red;
    padding: 5px;
}